<div class="container">
  <div id="question-nav" class="question-nav">
    <!-- Question navigation buttons will be rendered here -->
    <ng-container *ngFor="let question of questions; let i = index">
      <button
        class="question-nav-btn"
        [class.active]="i === currentQuestionIndex"
        [class.answered]="answers[i] !== undefined"
        (click)="showQuestion(i)"
      >
        {{ i + 1 }}
      </button>
    </ng-container>
  </div>

  <div class="question-area">
    <div id="timer" class="timer">Time Left: {{ timeLeft * 1000 | date:'mm:ss' }}</div>
    <button id="submit-btn" class="submit-btn" (click)="submitExam()">End Exam</button>

    <div id="question-text" class="question-text">{{ currentQuestion?.question }}</div>
    <div id="options" class="options">
      <!-- Options will be rendered here -->
      <ng-container *ngIf="currentQuestion">
        <div *ngFor="let option of [currentQuestion.optA, currentQuestion.optB, currentQuestion.optC, currentQuestion.optD]; let i = index">
          <input
            type="radio"
            [id]="'option-' + currentQuestionIndex + '-' + i"
            name="options"
            [value]="option"
            [(ngModel)]="selectedOption"
            (change)="onOptionChange(option)"
          />
          <label [for]="'option-' + currentQuestionIndex + '-' + i">{{ option }}</label>
        </div>
      </ng-container>
    </div>

    <div class="nav-buttons">
      <button id="prev-btn" (click)="previousQuestion()" [disabled]="currentQuestionIndex === 0">Previous</button>
      <button id="skip-btn" (click)="skipQuestion()">Skip</button>
      <button id="next-btn" (click)="nextQuestion()" [disabled]="currentQuestionIndex === questions.length - 1">Next</button>
    </div>
  </div>
</div>
